<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
	
		
			<div class="wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="page-header clearfix">
								<h2 class="pull-left">Employees Details</h2>
								<a href="/">Home</a> |
								<a href="/users/add">Add New Employee</a>
								<a href="/users">All Employees List</a>
							</div>
						</div>
					</div>        
				</div>
			</div>
		
		
